# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
*.swp

# Ignore PyQt5 compiled UI and audio files
*.pyc
*.pyo
*.qrc

# Ignore .Environment variables
.env
